<!--Start of Batch-->
<section class="content page" id="batch">
    <div>
        <main>
            <div class="container-fluid">
                <div class="row">
                    <h2 class="p-3">Select Batch:</h2>
                    <div class="dropdown p-3">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown button
                        </button>
                        <div id="dropdown-batch" class="dropdown-menu" aria-labelledby="dropdownMenuButton"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="row">
                            <div class="col-md-12 m-3">
                                <div class="bg-mattBlackLight p-3">
                                    <h4 class="mb-2">
                                        Beer Batch ID:
                                    </h4>
                                    <p id="bBeerBatchContainer">N/A</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 m-3">
                                <div class="bg-mattBlackLight p-3">
                                    <h4 class="mb-2">
                                        Date:
                                    </h4>
                                    <p id="bDateContainer">N/A</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 m-3">
                                <button type="button" class="btn btn-outline-light">Download CSV</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-md-12 m-3">
                            <div class="bg-mattBlackLight p-3">
                                <table class="table table-striped table-bordered table-dark">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Started at:</th>
                                            <td id="bStartedAtContainer">N/A</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Finished at:</th>
                                            <td id="bFinishedAtContainer">N/A</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Total Time:</th>
                                            <td id="bTotalTimeContainer">N/A</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Average Temperature:</th>
                                            <td id="bAverageTempContainer">N/A</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Highest Temperature:</th>
                                            <td id="bHighestTempContainer">N/A</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Lowest Temperature:</th>
                                            <td id="bLowestTempContainer">N/A</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="col-md-12 m-3">
                            <div class="bg-mattBlackLight p-3">
                                <table class="table table-striped table-bordered table-dark">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Beer Type:</th>
                                            <td id="bBeerTypeContainer">N/A</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Flavour:</th>
                                            <td id="bFlavourContainer">N/A</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Texture:</th>
                                            <td id="bTextureContainer">N/A</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Grade:</th>
                                            <td id="bGradeContainer">N/A</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#modal-form">Update Info</button>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>
<!--End of Batch-->

<!--Start of Dashboard-->
<section class="content page default" id="dashboard">
    
    <div>
        <main>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 my-3">
                        <div class="bg-mattBlackLight p-3">
                            <h4 class="mb-2">
                                Beer Batch:
                            </h4>
                            <p id="batchContainer">N/A</p>
                        </div>
                    </div>
                    <div class="col-md-3 my-3">
                        <div class="bg-mattBlackLight p-3">
                            <h4 class="mb-2">
                                Started at:
                            </h4>
                            <p id="timeContainer">N/A</p>
                        </div>
                    </div>
                    <div class="col-md-3 my-3">
                        <div class="bg-mattBlackLight p-3">
                            <h4 class="mb-2">
                                Running Time:
                            </h4>
                            <p id="runningContainer">N/A</p>
                        </div>
                    </div>
                    <div class="col-md-3 my-3">
                        <div class="bg-mattBlackLight p-3">
                            <h4 class="mb-2">
                                Overall Temperature:
                            </h4>
                            <p id="overallContainer">N/A</p>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-3">
                        <div class="row my-3">
                            <div class="col-md-12">
                                <div class="bg-mattBlackLight p-3">
                                    <h4 class="mb-2">
                                        Sensor 1:
                                    </h4>
                                    <p id="temp1Container">N/A</p>
                                </div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-md-12">
                                <div class="bg-mattBlackLight p-3">
                                    <h4 class="mb-2">
                                        Sensor 2:
                                    </h4>
                                    <p id="temp2Container">N/A</p>
                                </div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-md-12">
                                <div class="bg-mattBlackLight p-3">
                                    <h4 class="mb-2">
                                        Sensor 3:
                                    </h4>
                                    <p id="temp3Container">N/A</p>
                                </div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-md-12">
                                <div class="bg-mattBlackLight p-3">
                                    <h4 class="mb-2">
                                        Sensor 4:
                                    </h4>
                                    <p id="temp4Container">N/A</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-12 my-3">
                            <div class="bg-mattBlackLight p-3">
                                <h4 class="mb-2">
                                    Incoming Logs
                                </h4>
                                <table class="table table-striped table-bordered table-dark">
                                    <thead>
                                        <tr>
                                            <th scope="col">Beer Batch:</th>
                                            <th scope="col">Started at:</th>
                                            <th scope="col">Running Time:</th>
                                            <th scope="col">Overall Temperature:</th>
                                            <th scope="col">Sensor 1:</th>
                                            <th scope="col">Sensor 2:</th>
                                            <th scope="col">Sensor 3:</th>
                                            <th scope="col">Sensor 4:</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">N/A</th>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">N/A</th>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">N/A</th>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">N/A</th>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                            <td>N/A</td>
                                        </tr>
                                    </tbody>
                                </table> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    
</section>
<!--End of Dashboard-->

<!-- Modal -->
<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Enter Batch Information:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="beerType">Type:</label>
                    <input type="text" class="form-control" id="beerType">
                </div>
                <div class="form-group">
                    <label for="beerFlavour">Flavour:</label>
                    <input type="text" class="form-control" id="beerFlavour">
                </div>
                <div class="form-group">
                    <label for="beerTexture">Texture:</label>
                    <input type="text" class="form-control" id="beerTexture">
                </div>
                <div class="form-group">
                    <label for="beerGrade">Grade:</label>
                    <input type="text" class="form-control" id="beerGrade">
                </div>
                <button type="submit" class="btn btn-primary btn-block" onclick="sendForm()">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>